#todo-list {
  width: 50%;
}

h1 {
  font-size: 0.8rem;
}
#add-form {
  display: flex;
  width: 140px;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 10px;
}

.add-button {
  background-color: #3aa476;
  width: 100px;
  font-size: 0.4rem;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  height: 1.5rem;
}

#new-task, #download-btn {
  width: 110px !important;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
}

#download-btn {
  width: 100px;
  background-color: #3aa476;
  font-size: 0.4rem;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  height: 1.5rem;
}
#new-task {
  flex: 2;
}

button:hover {
  background-color: #45a049;
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.task-text {
  padding: 6px 10px;
}
#task-list {
  width: 100px;
}

.delete-btn {
  width: 100px;
  background-color: #c82333;
  font-size: 0.4rem;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  height: 1.5rem;
  margin-left: 0.5rem;
}

.delete-btn:hover {
  background-color: #c82333;
}
